* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FE9A76;
  color: #491D0D;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color:#FE5010;
}

button {
  width: 100%;
  padding: 10px;
  background: #FE9A76;
  opacity: 0.9867;
  color: #491D0D;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #FE5010;
}

/* Error messages */
.error {
  color: red;
  font-size: 12px;

}

/* Success message */
.success {
  margin-top: 15px;
  color: green;
  text-align: center;
  font-weight: bold;
  
}

/* Input error highlight */
.input-error {
  border: 2px solid red !important;
}